{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <table class="table table-border table-hover table-striped table-responsive" style="width: 99%">
        <thead class="table-dark">
        <tr>
            <th>Titolo</th>
            <th>Descrizione</th>
            <th>Prezzo</th>
            <th>Categoria</th>
            <th>Immagine</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>


{% endblock %}
